* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
		"微软雅黑", Arial, sans-serif;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(144, 147, 153, 0.3);
}

*::-webkit-scrollbar-track {
	background: transparent;
}

#app {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

:root {
	--view-bg-color: #f7f7f7;
}

a {
	text-decoration: none;
}

input,
button {
	outline: none;
}

input {
	&:-webkit-autofill {
		box-shadow: 0 0 0px 1000px white inset;
	}
}
ul,
ol {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-center {
  text-align: center;
}
.clearfix {
  zoom: 1;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


.flex1{
	flex: 1;
}

.flex-row-start-center {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center
  }
  
  .flex,.flex-row-start-center {
	display: flex
  }
  
  .flex-center {
	justify-content: space-between
  }
  
  .flex-center,.flex-vertical-center {
	display: flex;
	align-items: center
  }
  
  .flex-horizontal-center,.flex-vertical-horizontal-center {
	display: flex;
	justify-content: center
  }
  
  .flex-vertical-horizontal-center {
	align-items: center
  }
  
  .flex-space-between {
	display: flex;
	justify-content: space-between
  }